.container {
    width: 300px;
}

.holder {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0; 
    border-bottom-right-radius: 0;
    border: 2px solid black; 
    overflow: hidden;
  }
  
  .row {
    display: flex;
  }
  
  .item {
    width: 400px;
    text-align: center;
    padding: 10px;
    margin: 0;
  }
  
  .red {
    background-color:rgb(253, 100, 77);
    width: 160px;
  }
  
  .yellow {
    background-color: rgb(253, 164, 41);
    width: 160px;
  }
  
  .purple {
    background-color:rgb(102, 55, 151);
    width: 100px;
  }
  
  .blue {
    background-color:rgb(14, 127, 18);
    width: 100px;
  }
  
  .green {
    background-color:rgb(73, 131, 178);
    width: 100px;
  }